para-saber {
  .purple {
    h4 {
      color: white;
    }
    a {
      color: white;
    }
    background: #694187;
    color: white;
  }
  h4 {
    color: #694187;
  }

  .toolbar-title-md, .bar-button-default-md {
  }
  .toolbar-background-md {
  }

  .content-md {
  }
  p {
  }
}
